@import "tailwindcss";

:root {
  font-size: min(2.5vw, 1em);
  @apply bg-white text-black;
  @apply dark:bg-black/90;
}

@keyframes bg-text-flash {
  from {
    background-color: oklch(0.809 0.105 251.813);
    color: black;
  }

  to {
    background-color: inherit;
    color: inherit;
  }
}

.bg-text-flash-once {
  animation: bg-text-flash 0.5s ease-out;
}