@import "tailwindcss";

:root {
  font-size: min(2.5vw, 1em);
  @apply bg-white text-black;
  @apply dark:bg-black;
}

@keyframes bg-flash {
  from {
    background-color: oklch(0.809 0.105 251.813);
    color: black;
    scale: 1.2;
    font-weight: bold;
  }

  to {
    background-color: inherit;
    color: inherit;
    scale: 1;
    font-weight: normal;
  }
}

.inner-bg-flash * {
  animation: bg-flash 0.5s ease-out;
}

@property --hue-shift {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes gradientAnimation {
  0% {
    --hue-shift: 360;
  }

  100% {
    --hue-shift: 0;
  }
}

.gradient-bg {
  background-image: linear-gradient(
    to right,
    oklch(0.623 0.214 calc(259.815 + var(--hue-shift))),
    oklch(0.704 0.214 calc(182.503 + var(--hue-shift))),
    oklch(0.656 0.214 calc(354.308 + var(--hue-shift)))
  );
  animation: gradientAnimation 5s linear infinite;
}
